
 .container{
    width: 1200px;
    height: 700px;
    border: 1px solid ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    
}
table, .tables .formTble{
    border-collapse:collapse ;
    width: 500px;
    height: 200px;
}
th{
    font-size: 2rem;
}
th, td{
    text-align: center;
    border: 1px solid blue;
    padding: 0 10px;
}
.items{
display: grid;
grid-template-columns: repeat(2,1fr);
grid-column-gap: 15px;

}
.item{
    width: 200px;
    margin-bottom: 10px;
}
button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 30px;
    margin-top: 15px;
}